<div class="container-logo">
    <h1>Cadastro de usuarios</h1>
</div>
<div class="container-opcao">
    <div class="container-cadastro">
        <a href="/cadastrar"><button class="btn btn-xs btn-pill btn-secondary" >cadastrar</button></a>
    </div>
    <div>
        <a href="/"><button class="btn btn-xs btn-pill btn-secondary" >Home</button></a>
    </div>
</div>