<form action="/add" method="POST">
    <label>
        <span>nome:</span>
        <input type="text" name="name" id="">
    </label>
    <label>
        <span>email:</span>
        <input type="email" name="email" id="">
    </label>
    <label>
        <span>senha:</span>
        <input type="password" name="senha" id="">
    </label>
    <label>
        <span>numero:</span>
        <input type="text" name="numero" id="">
    </label>
    <button type="submit">cadastrar</button>
</form>