<form action="/edita/:id/:name/:email" method="POST">
    <label>
        <span>nome:</span>
        <input type="text" name="name" id="" value="{{id}}">
    </label>
    <label>
        <span>email:</span>
        <input type="email" name="email" id="">
    </label>
    <button type="submit">cadastrar</button>
</form>