<form action="/alterarsenha/{{id}}" method="POST">
    <div>
        <label for="">
            <span>Senha nova</span>
            <input type="password" name="senha1" id="">
        </label>
        <label for="">
            <span>Digite novamente a sua nova senha</span>
            <input type="password" name="senha2" id="">
        </label>
    </div>
    <input type="submit" value="Mudar senha">
</form>